{
 
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": ["error", { "variables": false }],
    "no-multi-str": 0,
    "semi": ["warn", "never"],
    "import/extensions": 0,
    "no-global-assign": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "no-restricted-syntax": 0,
    "no-await-in-loop": 0,
    "object-curly-newline": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "max-lines": [
      "error",
      {
        "max": 150,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-len": [
      "error",
      80,
      {
        "ignoreComments": true,
        "ignoreTemplateLiterals": true,
        "ignoreStrings": true
      }
    ],
    "no-mixed-operators": 0,
    "consistent-return": 0,
    "arrow-parens": 0,
    "curly": 0,
    "react/no-array-index-key": 0,
    "no-return-assign": 0,
    "newline-before-return": 2,
    "newline-after-var": 2,
    "import/newline-after-import": 2,
    
    "comma-dangle": 0,
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "no-unused-vars": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-useless-constructor": "off",
    "no-param-reassign": [2, { "props": false }],
    "no-restricted-exports": 0
  },
  "overrides": [
    {
      "files": ["*.test.ts", "*.test.js"],
      "rules": {
        "no-unused-expressions": 0
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".json"]
      }
    }
  }
}
